<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
  <div id="app">

    <input type="text" v-model="firstname"> +
    <input type="text" v-model="lastname"> =
    <input type="text" v-model="fullname">

  </div>

  <script>
    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
      el: '#app',
      data: {
        firstname: '',
        lastname: '',
        fullname: ''
      },
      methods: {},
      // 使用这个 属性，可以监视 data 中指定数据的变化，然后触发这个 watch 中对应的 function 处理函数
      // 回调将在 vm.firstname 改变后调用
      watch: {
        'firstname': function (newVal, oldVal) {
          console.log('监视到了 firstname 从:' + oldVal + '变为:' + newVal)
          this.fullname = newVal + '-' + this.lastname
        },
        'lastname': function (newVal, oldVal) {
          console.log('监视到了 lastname 从:' + oldVal + '变为:' + newVal)
          this.fullname = this.firstname + '-' + newVal
        }
      }
    });
  </script>
</body>

</html>