<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
  <div id="app">

    <div>
      <label>Id:
        <input type="text" v-model="id">
      </label>

      <label>Name:
        <input type="text" v-model="name">
      </label>

      <input type="button" value="添加" @click="add">
    </div>

    <p>先选中一条数据,然后往list添加一条数据,选中数据会变,因为用的是索引</p>
    <p v-for="item in list">
      <input type="checkbox">{{item.id}} --- {{item.name}}
    </p>
    <br>
    
    <!-- 注意：
      (当 Vue.js 用 v-for 正在更新已渲染过的元素列表时，它默认用 “就地复用” 策略。如果数据项的顺序被改变，Vue将不是移动 DOM 元素来匹配数据项的顺序， 而是 简单复用此处每个元素 ，并且确保它在特定索引下显示已被渲染过的每个元素。)
      遇到这种情况 必须在使用 v-for 的同时，指定 唯一的 字符串/数字 类型 :key值 [为每项提供一个唯一 key属性 目的是为了给Vue一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素。]
      key 属性只能使用 number获取string 
      key 在使用的时候，必须使用 v-bind 属性绑定的形式，指定 key 的值
    -->
    <p>先选中一条数据,然后往list添加一条数据,选中数据不变,因为用的是唯一的标识key值</p>
    <p v-for="item in list" :key="item.id">
      <input type="checkbox">{{item.id}} --- {{item.name}}
    </p>
  </div>

  <script>
    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
      el: '#app',
      data: {
        id: '',
        name: '',
        list: [
          { id: 1, name: '李斯' },
          { id: 2, name: '嬴政' },
          { id: 3, name: '赵高' },
          { id: 4, name: '韩非' },
          { id: 5, name: '荀子' }
        ]
      },
      methods: {
        add() { // 添加方法
          this.list.unshift({ id: this.id, name: this.name })
        }
      }
    });
  </script>
</body>

</html>