<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
  <div id="app">

    <input type="text" v-model="firstname"> +
    <input type="text" v-model="middlename"> +
    <input type="text" v-model="lastname"> =
    <input type="text" v-model="fullname">

    <p>{{ firstname }}</p>
    <p>{{ middlename }}</p>
    <p>{{ lastname }}</p>
    <p>{{ fullname }}</p>

  </div>

  <script>
    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
      el: '#app',
      data: {
        firstname: '',
        lastname: '',
        middlename: ''
      },
      methods: {},
      /* 
        在 computed 中可以定义属性，这些属性叫做 【计算属性】
        计算属性的本质是一个方法，只不过在使用的时候是把它们的名称直接当作属性来使用的；
      */
      computed: {
        /*
          计算属性在引用的时候，不要加 () 去调用，直接把它当作普通属性去使用就好了；
          只要计算属性  function内部所用到的任何 响应式的数据 发送了变化，就会立即重新计算这个计算属性的值, 如果计算属性方法中任何数据都没有发生过变化则不会重新对 计算属性求值；
          计算属性的求值结果会被缓存起来，方便下次直接使用； 
        */
        'fullname': function () {
          console.log('触发了方法')
          return this.firstname + '-' + this.middlename + '-' + this.lastname
        },

        //computed 属性默认只有 getter ，不过在需要时你也可以提供一个 setter ：
        'fullName1': {
          get: function () {
            return this.firstname + '-' + this.middlename + '-' + this.lastname
          },
          set: function (newVal) {
            var parts = newVal.split(' - ');
            this.firstName = parts[0];
            this.lastName = parts[1];
          }
        }

      }
    });
  </script>
</body>

</html>